@charset "utf-8";

*{ margin: 0; padding: 0; list-style: none; }

a:link, a:visited, a:active {
    color: #006bad;
    text-decoration: none;
}
p{
	margin: 0px 0px 10px 0px;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6f7;
}

.text-theme{
  color: #59a1e9;
}
.bg-theme{
  background-color: #59a1e9;
}

.cursor-theme:hover{
  color: #59a1e9;
}


.width_80 {
  width: 80%;
}
.width_50{
  width: 50%;
}

.icon_size{
  font-size: 18px;
}

.text-333{
  color: #333
}

.cursor-pointer{
  cursor: pointer;
}


.text-333{
  color: #333
}
.text-white{
  color: white;
}
.text-999{
  color: #999;
}
.text-grey{
  color: #909399;
}

.bg-white{
  background-color: white;
}
.bg-999{
  background-color: #999;
}
.bg-grey{
  background-color:#909399;
}



.public_border_solid{
  border: #dddddd 1px solid;
}
.public_border_bottom{
  border-bottom: #dddddd 1px solid;
}
.public_border_top{
  border-top: #dddddd 1px solid;
}
.public_border_left{
  border-left: #dddddd 1px solid;
}
.public_border_right{
  border-right: #dddddd 1px solid;
}

.br-5{
  border-radius: 5px
}

/*字体加粗*/
.text-bold{
  font-weight: bold;
}
/*圆*/
.radius-round{
  border-radius: 50%;
}

/*序号样式*/
.public_no{
  padding: 3px; height: 15px; width: 15px; line-height: 15px; text-align: center;
  border-radius: 50%;
  color: white;
  background-color: #59a1e9;
  font-size: 14px;
}
/*flex定位样式*/
.row{
  display: flex;
  align-items: center;
}
.column{
  display: flex;
  flex-direction: column;
}

/** 换行 **/
.flex-wrap{
  flex-wrap: wrap;
}
.no-wrap{
  flex-wrap: nowrap;
}

.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-center{
  justify-content: center;
}

.items-center{
  align-items: center;
}
.items-start{
  align-items: flex-start;
}

/*文本超出一行为省略号*/
.overflow-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/** 高度撑满和宽度撑满 **/
.full-width, .fit{
  width: 100%;
}
.full-height, .fit{
  height: 100%;
}

/** **/
.inline-block{
  display: inline-block
}

/* 字体大小 像素 */
.fs-16{
  font-size: 16px
}
.fs-14{
  font-size: 14px
}
.fs-13{
  font-size: 13px
}
.fs-12{
  font-size: 12px
}
/*边距*/
.ml-xs, .mx-xs, .ma-xs{
  margin-left: 4px;
}
.mr-xs, .mx-xs, .ma-xs{
  margin-right: 4px;
}
.mt-xs, .my-xs, .ma-xs{
  margin-top: 4px;
}
.mb-xs, .my-xs, .ma-xs{
  margin-bottom: 4px;
}

.ml-sm, .mx-sm, .ma-sm{
  margin-left: 8px;
}
.mr-sm, .mx-sm, .ma-sm{
  margin-right: 8px;
}
.mt-sm, .my-sm, .ma-sm{
  margin-top: 8px;
}
.mb-sm, .my-sm, .ma-sm{
  margin-bottom: 8px;
}

.ml-md, .mx-md, .ma-md{
  margin-left: 16px;
}
.mr-md, .mx-md, .ma-md{
  margin-right: 16px;
}
.mt-md, .my-md, .ma-md{
  margin-top: 16px;
}
.mb-md, .my-md, .ma-md{
  margin-bottom: 16px;
}

.ml-lg, .mx-lg, .ma-lg{
  margin-left: 32px;
}
.mr-lg, .mx-lg, .ma-lg{
  margin-right: 32px;
}
.mt-lg, .my-lg, .ma-lg{
  margin-top: 32px;
}
.mb-lg, .my-lg, .ma-lg{
  margin-bottom: 32px;
}

.pl-xs, .px-xs, .pa-xs{
  padding-left: 4px;
}
.pr-xs, .px-xs, .pa-xs{
  padding-right: 4px;
}
.pt-xs, .py-xs, .pa-xs{
  padding-top: 4px;
}
.pb-xs, .py-xs, .pa-xs{
  padding-bottom: 4px;
}

.pl-sm, .px-sm, .pa-sm{
  padding-left: 8px;
}
.pr-sm, .px-sm, .pa-sm{
  padding-right: 8px;
}
.pt-sm, .py-sm, .pa-sm{
  padding-top: 8px;
}
.pb-sm, .py-sm, .pa-sm{
  padding-bottom: 8px;
}

.pl-md, .px-md, .pa-md{
  padding-left: 16px;
}
.pr-md, .px-md, .pa-md{
  padding-right: 16px;
}
.pt-md, .py-md, .pa-md{
  padding-top: 16px;
}
.pb-md, .py-md, .pa-md{
  padding-bottom: 16px;
}

.pl-lg, .px-lg, .pa-lg{
  padding-left: 32px;
}
.pr-lg, .px-lg, .pa-lg{
  padding-right: 32px;
}
.pt-lg, .py-lg, .pa-lg{
  padding-top: 32px;
}
.pb-lg, .py-lg, .pa-lg{
  padding-bottom: 32px;
}


