<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrlv.api.dao.CmsArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mrlv.api.entity.CmsArticle">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="title" property="title" />
        <result column="link" property="link" />
        <result column="color" property="color" />
        <result column="image" property="image" />
        <result column="keywords" property="keywords" />
        <result column="description" property="description" />
        <result column="weight" property="weight" />
        <result column="weight_date" property="weightDate" />
        <result column="hits" property="hits" />
        <result column="posid" property="posid" />
        <result column="custom_content_view" property="customContentView" />
        <result column="view_config" property="viewConfig" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="remarks" property="remarks" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <sql id="articles">
        c1.id,
        c1.category_id,
        c1.title,
        c1.link,
        c1.color,
        c1.image,
        c1.keywords,
        c1.description,
        c1.weight,
        c1.weight_date,
        c1.hits,
        c1.posid,
        c1.create_by,
        c1.create_date,
        c1.update_by,
        c1.update_date,
        c1.remarks,
        c2.`label` as categoryName
    </sql>

    <select id="queryArticles" resultType="com.mrlv.api.vo.ArticleListVO">
      SELECT
       <include refid="articles"/>
      FROM
        cms_article c1
      LEFT JOIN cms_article_dict c2 ON c1.category_id = c2.id
    </select>
</mapper>
